<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luminous.mapper.ItemMapper">

    <insert id="insertItem" parameterType="com.luminous.domain.Item">
        INSERT INTO items (
            item_id, category_id, image_id, item_name, price
        ) VALUES (
            #{itemId}, #{categoryId}, #{imageId}, #{itemName}, #{price}
        )
    </insert>
</mapper>
