<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luminous.mapper.MemberMapper">
	
	<!-- 회원가입 sql문 -->
    <insert id="insertMember" parameterType="com.luminous.domain.Member" useGeneratedKeys="true" keyProperty="memberId">
        INSERT INTO member (login_id, password, name, address, phone_number, email, nickname, gender)
        VALUES (#{loginId}, #{password}, #{name}, #{address}, #{phoneNumber}, #{email}, #{nickname}, #{gender})
    </insert>
    
	<select id="existsByLoginId" resultType="boolean" parameterType="string">
    SELECT COUNT(*) > 0 FROM member WHERE login_id = #{loginId}
	</select>

    <select id="findByLoginId" resultType="com.luminous.domain.Member" parameterType="string">
    SELECT * FROM member WHERE login_id = #{loginId}
	</select>


    <!-- 로그인 기능 sql문 
    <select id="login" resultType="com.luminous.dto.LoginDto">
    SELECT login_id, password FROM member
    WHERE login_id = #{loginId} AND password = #{password}
	</select>
	-->

</mapper>

