<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luminous.mapper.MemberMapper">
    <insert id="insertMember" parameterType="com.luminous.domain.Member" useGeneratedKeys="true" keyProperty="memberId">
        INSERT INTO member (login_id, password, name, address, phone_number, email, nickname, gender, admin)
        VALUES (#{loginId}, #{password}, #{name}, #{address}, #{phoneNumber}, #{email}, #{nickname}, #{gender}, #{admin})
    </insert>
</mapper>
